/* --------------------------------FONT FAMILY POPPINS-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins&display=swap');

/* --------------------------------GENERAL FEATURES-------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --------------------------------FIRST SECTION-FIRST SCREEN-------------------------------- */
.firstSection{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}
.firstSectionContainer{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.firstSectionButtons img{
    display: none;
}
.firstSectionInfo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.firstSectionInfo h1{
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 78px;
    margin: 140px 0px 32px 0px ;
}
.firstSectionInfo h2{
    color: #333333;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 98px;
}
.firstSectionButtons{
    width: 60%;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.firstSectionInfoButton{
    border-radius: 30px;
    width: 180px;
    height: 56px;
    margin-right: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}
#firstSectionContact{
    color: #FFFFFF;
    background: #201992;
}
#firstSectionContact:hover{
    background: #4c489c;
    color: #FFFFFF;
}
#firstSectionDownload{
    color: #333333;
    transition: transform 0.2s ease-in-out;
}
#firstSectionDownload:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.firstSectionFigures{
    width: 60%;
    height: 100%;
    position: relative;
}
.firstSectionSocials{
    position: absolute;
    bottom: 100px;
    right: 0px;
    z-index: 5;
    width: max-content;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.firstSectionSocialsButton svg{
    transition: transform 0.3s ease-out;

}
.firstSectionSocialsButton svg:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
}

/* --------------------------------SECOND SECTION - CARDS-------------------------------- */
.secondSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 101vh;
    background-color: #200392;
    position: relative;
}
.secondSection h3{
    text-align: center;
    margin-top: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 78px;
    color: #F4F6F6;
}
.containerSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 80%;
    overflow: hidden;
}

.slide {
    width: 50%;
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
    opacity: 0;
    transition: opacity ease-in-out 0.6s;
}
.slideImage{
    width: 50%;
    height: 100%;
    margin-bottom: 50px;
    border-radius: 5%;

}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.slideInfo{
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.slideInfo h5{
    font-family: 'Poppins';
    width: 90%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
}
.slideInfo p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    color: #F4F6F6;
    margin-bottom: 40px;
}
.slideInfo a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.671);
}
.slideActive {
    opacity: 1;
}
.container-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 5px;
    background: #0000003f;
    transition: all 0.5s;
}
.dot:hover{
    transition: all 0.5s;
    transform: scale(1.3);
    background: #5757573f;
}
.dot.active {
  background: rgb(237, 218, 255);
}

/* --------------------------------THIRD SECTION - ABOUT ME-------------------------------- */
.thirdSection{
    width: 100%;
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.thirdSectionContainer{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thirdSectionContainerImg{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thirdSectionContainerImg div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
}
.thirdSectionContainerImg img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.thirdSectionContainerInfo{
    width: 45%;
}
.thirdSectionContainerInfo h3{
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 78px;
    margin-bottom: 40px;
}
.thirdSectionContainerInfo p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 100px;
}

/* --------------------------------FOURTH SECTION - CONTACT-------------------------------- */
.fourthSection{
    width: 100%;
    height: 80vh;
}
.fourthSectionSt{
    width: 100%;
    height: 50vh;
    background-color: #200392;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fourthSectionSt h3{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 78px;
    color: #F4F6F6;
    margin-bottom: 10px;
}
.fourthSectionStTitle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.emoji{
    font-size: 28px;

    top: -20px;
}
.fourthSectionSt p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #F4F6F6;
    margin-bottom: 15px;
}
.fourthSectionSt h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 78px;
    color: #F4F6F6;
}

.fourthSectionNd{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}
.navBarBottom{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottomTitle{
    color: #200392;
    text-align: center;
    margin-bottom: 50px;
}
.navBarBottomList{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.socialsBottom{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-end;
}
.socialsBottomContainer{
    margin-right: 100px;
    width: 30%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.socialsBottomContainer a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #200392;
}
.socialsBottomContainer a:hover{
    color: #4c489c;
}
.num{
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 78px;
}




/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width: 1024px){
/* --------------------------------FIRST SECTION-FIRST SCREEN-------------------------------- */
    .firstSectionContainer{
        align-items: center;
    }
    .firstSectionButtons{
        width: 100%;
    }
    .firstSectionFigures{
        width: 90%;
    }
    .firstSectionFigures{
        width: 50%;
        height: 80%;
    }
    .firstSectionSocials{
        bottom: 0;
    }
    /* --------------------------------SECOND SECTION - CARDS-------------------------------- */
    .slide{
        width: 80%;
        height: 70%;
    }
    .slideInfo{
        height: 60%;
    }
    
/* --------------------------------THIRD SECTION - ABOUT ME-------------------------------- */
    .thirdSectionContainerInfo h3{
        margin-bottom: 5px;
    }
    .thirdSectionContainerInfo p{
        margin-bottom: 10px;
    }
/* --------------------------------FOURTH SECTION - CONTACT-------------------------------- */

    .socialsBottomContainer{
        width: 60%;
    }
    .num{
        width: 100%;
    }
}




/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px){
    /* --------------------------------FIRST SECTION-FIRST SCREEN-------------------------------- */
    .firstSection{
        height: max-content;
        width: 100%;
        margin-bottom: 50px;
        margin-left: 0;
    }
    .firstSectionContainer{
        width: 80%;
        height: 100%;
        flex-direction: column;
    }
    .firstSectionFigures{
        display: none;
    }
    .firstSectionInfo{
        width: 100%;
        height: 100%;
    }
    .firstSectionInfo h1{
        margin: 55px 0px 2px 0px ;
    }
    .firstSectionInfo h2{
        margin-bottom: 20px;
    }
    .firstSectionButtons{
        width: 100%;
        height: 90%;
        margin-top: 0px;
        align-items: center;
        flex-direction: column;
    }
    .firstSectionButtons img{
        width: 60%;
    }
    .firstSectionInfoButton{
        width: 100%;
        height: 60px;
        margin-right: 0;
        margin-top: 10px;

    }
/* --------------------------------SECOND SECTION - CARDS-------------------------------- */
    .secondSection{
        width: 100%;
        position: relative;
    }
    .containerSlider {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 80%;

    }
    .slide{
        width: 100%;
        height: 80%;
        justify-content: center;
        align-items: center;
        gap: 0;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .slide img {
        width: 100%;
        height: 100%;
    }
    .slideImage{
        width: 75%;
        height: 50%;
        margin-bottom: 10px;
    }
    .slideInfo{
        width: 80%;
        height: 40%;
        margin-bottom: 5%;
    }
/* --------------------------------THIRD SECTION - ABOUT ME-------------------------------- */
    .thirdSection{
        margin-top: 20px;
        height: max-content;
    }
    .thirdSectionContainer{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    .thirdSectionContainerInfo{
        width:100%;
        margin-top: 0;
    }
    .thirdSectionContainerInfo h3{
        text-align: center;
    }
    .thirdSectionContainerInfo p{
        text-align: justify;
        margin-bottom: 30px;
        font-size: 20px;

    }
    .thirdSectionContainerImg{
        width: 100%;
        height: 30%;
        margin-bottom: 0;
    }
    .thirdSectionContainerImg div img{
        object-fit: contain;
        width: 60%;
        height: 100%;
    }


/* --------------------------------FOURTH SECTION - CONTACT-------------------------------- */
    .fourthSection{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
        height: max-content;
    }
    .fourthSectionSt{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .fourthSectionSt h3{
        font-size: 25px;
    }
    .emoji{
        font-size: 25px;
    }
    .fourthSectionSt p {
        font-size: 16px;
    }
    .fourthSectionSt h4{
        font-size: 19px;
    }
    .fourthSectionNd{
        margin-top: 30px;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        height: max-content;
        margin-bottom: 30px;
    }
    .navBarBottom{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .navBarBottomList{
        justify-content: space-evenly;
    }
    .bottomTitle{
        margin-right: 20px;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .socialsBottom{
        width: 100%;
        flex-wrap: nowrap;
    }
    .socialsBottomContainer{
        width: 100%;
        margin-right: 0px;
    }
}