.navBar{
    font-family: 'Poppins', sans-serif;
    color: #201992;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.navBarContainer{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBarTitle{
    width: 50%;
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 29.7576px;
    line-height: 33px;
    letter-spacing: 0.21em;
}
.navBarList{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-transform: uppercase;
}
.navBarListItem{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.5px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    text-transform: uppercase;
}
.navBarListButton{
    text-decoration: none;
    color: #201992;
}
.navBarListButton:hover{
    color: #4c489c;
}
.navMenu{
    display: none;
}
.dissapear{
    display: none;
}
@media (max-height: 700px){
    .navBar{
        height: max-content;
    }
}
@media (max-width:768px){
    .navMenu{
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: center;
        height: 100%;
        z-index: 2;
    }
    .navBarContainer{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 200;
        overflow: hidden;
    }
    .navBarTitle{
        width: 75%;
        margin-left: 5%;
        text-align: left;
        font-size: 20px;
        line-height: 23px;
    }
    .navBarTitle h1{
        margin-left: 20px;
    }
    .navBarList{
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        position: absolute;
        top: 11vh;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        height: 600px;
        border-bottom: 1px solid #b8b8b8;
        z-index: 100;
    }
    .barActive{
        transform: translateX(0%);
        transition: transform 0.5s ease-out;
    }
    .overflow{
        overflow: visible;
    }
}