.navBar{
    font-family: 'Poppins', sans-serif;
    color: #201992;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.navBarContainer{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBarTitle{
    width: 50%;
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 29.7576px;
    line-height: 33px;
    letter-spacing: 0.21em;
}
.navBarList{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.navBarListItem{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.5px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}
.navBarListButton{
    text-decoration: none;
    color: #201992;
}
.navBarListButton:hover{
    color: #4c489c;
}